extends layout

block body
  h1 Your IP has been grabbed!
  p This page was created at #{creationTime}
  p Accesses to this link:
  ol
    each access in accesses
      li #{access.ip} at #{access.time}
